<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Templates</title>
</head>
<body>
	<header th:fragment="header">
		<h1>[[#{templates.header_title}]]</h1>
	</header>

	<footer th:fragment="footer">
		<div>
			<br /> <a th:href="@{?(lang=es)}">ES</a>|<a th:href="@{?(lang=en)}">EN</a>
		</div>
		<span> [[#{templates.footer_p}]] <a
			href="https://github.com/Juli-CVidal" target="_blank">Julián
				Vidal</a>
		</span>
		<form method="POST" th:action="@{/logout}">
			<a href="#" onclick="this.parentNode.submit();">Logout</a>
		</form>
	</footer>
</body>
</html>