<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Spring Course</title>
</head>
<body>
	<header th:replace="fragments/templates :: header"></header>
	<div th:if="${persons == null or persons.isEmpty()}">
		<p>[[#{table.empty}]]</p>
	</div>

	<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/person/add}">[[#{table.add_one}]]</a>
	<div th:if="${persons!=null and !persons.isEmpty()}">
		<table border="1">
			<tr>
				<th>[[#{table.field_name}]]</th>
				<th>[[#{table.field_lastname}]]</th>
				<th>[[#{table.field_email}]]</th>
				<th>[[#{table.field_number}]]</th>
				<th sec:authorize="hasRole('ROLE_ADMIN')">[[#{table.modify_entry}]]</th>
				<th sec:authorize="hasRole('ROLE_ADMIN')">[[#{table.delete_entry}]]</th>
			</tr>
			<tr th:each="person : ${persons}">
				<td th:text="${person.name}"></td>
				<td th:text="${person.lastname}"></td>
				<td th:text="${person.email}"></td>
				<td th:text="${person.number}"></td>
				<th sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/person/modify/} + ${person.id}" th:text="Modify"></a></th>
				<th sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/person/delete/} + ${person.id}" th:text="Delete"></a></th>
			</tr>

		</table>
	</div>
	
	<footer th:replace="fragments/templates :: footer"></footer>
</body>
</html>